.suit {
  padding-bottom: 14rem;
  position: relative;
  background-image: url("./../img/suit-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile {
    padding-top: 13rem;
    padding-bottom: 8rem;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 0;
    height: 100%;
    width: 38rem;
    @include mobile {
      display: none;
    }
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
  &::after {
    right: 0;
    background: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: relative;
    z-index: 4;

    @include mobile {
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__content {
    width: 100%;
    max-width: 72.4rem;
  }

  &__img {
    height: 80rem;
    width: 78.3rem;

    @include mobile {
      width: 100%;
      height: 50.7rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-bottom: 4.5rem;
    @include mobile {
      margin-bottom: 2.3rem;
    }
  }
  &__desc {
    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 4.5rem;

        @include mobile {
          margin-bottom: 0;
        }
      }
    }
  }
}
