@include('./modal-cta.html')

<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <a class="footer__logo">
        <img src="./img/logo.svg" alt="logo">
      </a>

      <div class="footer__block">
        <div>
          <a href="#" class="footer__link link-btn" data-target="modal-info">
            Юридическая информация
          </a>
        </div>
        <div>
          <a href="#" class="footer__link link-btn" data-target="modal-policy">
            Политика конфиденциальности
          </a>
        </div>
        <div>
          <a href="#" class="footer__link link-btn" data-target="modal-agreement">
            Пользовательское соглашение
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
