<section class="format">
  <div class="container">
    <h2 class="title3 format__title">Выбери свой&nbsp;формат
    </h2>
  </div>
  <div class="format__slider">
    <div class="format__viewport">
      <div class="format__item f-item f-item--light">
        <div class="f-item__content">
          <p class="f-item__title">Просто посмотреть
          </p>
          <ul class="f-item__list list-reset">
            <li>Доступ ко всем урокам</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li class="disabled">Общение со&nbsp;мной в чате</li>
            <li class="disabled">Еженедельные эфиры</li>
            <li class="disabled">Разбор работ</li>
            <li class="disabled">Приглашенные гости</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li class="disabled">Моя полная вовлеченность</li>
            <li class="disabled">Можно написать, позвонить или выйти на видеозвонок</li>
            <li class="disabled">Помощь на каждом шаге лично от меня</li>
          </ul>
        </div>
        <div class="f-item__img">
          <picture>
            <source srcset="./img/format/01-mob.webp" media="(max-width: 576px)" type="image/webp">
            <img src="./img/format/01.webp" aria-hidden="true" alt="">
          </picture>
        </div>
      </div>
      <div class="format__item f-item f-item--green">
        <div class="f-item__content">
          <p class="f-item__title">С поддержкой

          </p>
          <ul class="f-item__list list-reset">
            <li>Доступ ко всем урокам</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li>Общение со&nbsp;мной в чате</li>
            <li>Еженедельные эфиры</li>
            <li>Разбор работ</li>
            <li>Приглашенные гости</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li class="disabled">Моя полная вовлеченность</li>
            <li class="disabled">Можно написать, позвонить или выйти на видеозвонок</li>
            <li class="disabled">Помощь на каждом шаге лично от меня</li>
          </ul>
        </div>
        <div class="f-item__img">
          <picture>
            <source srcset="./img/format/02-mob.webp" media="(max-width: 576px)" type="image/webp">
            <img src="./img/format/02.webp" aria-hidden="true" alt="">
          </picture>
        </div>
      </div>
      <div class="format__item f-item f-item--yellow">
        <div class="f-item__content">
          <p class="f-item__title">VIP-формат
          </p>
          <ul class="f-item__list list-reset">
            <li>Доступ ко всем урокам</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li>Общение со&nbsp;мной в чате</li>
            <li>Еженедельные эфиры</li>
            <li>Разбор работ</li>
            <li>Приглашенные гости</li>
          </ul>
          <ul class="f-item__list list-reset">
            <li>Моя полная вовлеченность</li>
            <li>Можно написать, позвонить или выйти на видеозвонок</li>
            <li>Помощь на каждом шаге лично от меня</li>
          </ul>
        </div>
        <div class="f-item__img">
          <picture>
            <source srcset="./img/format/03-mob.webp" media="(max-width: 576px)" type="image/webp">
            <img src="./img/format/03.webp" aria-hidden="true" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
