<section class="get">
  <div class="container">
    <h2 class="title3 get__title centered">Что&nbsp;ты&nbsp;получишь на&nbsp;курсе
    </h2>
  </div>
  <div class="get__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="get__item get-item">
          <p class="get-item__title">
            Где&nbsp;брать идеи и&nbsp;как&nbsp;набирать просмотры
          </p>
          <div class="get-item__img">
            <img src="./img/get/01.webp" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="get__item get-item">
          <p class="get-item__title">
            Уверенное понимание, как&nbsp;пользоваться камерой

          </p>
          <div class="get-item__img">
            <img src="./img/get/02.webp" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="get__item get-item">
          <p class="get-item__title">
            Как&nbsp;удерживать внимание зрителя

          </p>
          <div class="get-item__img">
            <img src="./img/get/03.webp" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="get__item get-item">
          <p class="get-item__title">
            Как&nbsp;выстраивать выразительные, красивые кадры
          </p>
          <div class="get-item__img">
            <img src="./img/get/04.webp" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="get__item get-item">
          <p class="get-item__title">
            Как&nbsp;писать сценарии для&nbsp;коротких
            видео
          </p>
          <div class="get-item__img">
            <img src="./img/get/05.webp" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
