<section class="hero">
  <div class="hero__wrapper">
    <div class="container">
      <div class="hero__container">
        <div class="hero__content">
          <h1 class="title1 hero__title">
            <span>Снимать</span>
            <span>вов<span class="accent">Се</span></span>
            <span>не тяж<span class="accent">Ко</span></span>
          </h1>
          <div class="desc1 hero__desc">
            <p>Киношные кадры, цепляющие истории и&nbsp;свой стиль&nbsp;&mdash;&nbsp;даже&nbsp;если&nbsp;ты&nbsp;никогда
              не&nbsp;держал камеру.</p>
            <p>
              Курс от&nbsp;Паши, снятый как&nbsp;мини-фильм, а&nbsp;не&nbsp;как&nbsp;лекция за&nbsp;столом.
            </p>
          </div>
          <button class="btn btn-reset modal-btn hero__btn" data-target="#modal-cta">
            Начать обучение
          </button>
        </div>
        <div class="hero__img">
          <picture>
            <source srcset="./img/hero-mob.webp" media="(max-width: 576px)" type="image/webp">
            <img src="./img/hero.webp" alt="Снимать вовсе не тяжко">
          </picture>

        </div>
      </div>
    </div>
  </div>
</section>
