<section class="hi">
  <div class="container">
    <div class="hi__container">
      <div class="hi__content">
        <h3 class="title3 title3--accent hi__title">
          Привет, я&nbsp;Паша
        </h3>
        <div class="desc2 hi__desc">
          <p>Я&nbsp;снимаю короткие ролики, которые выглядят как&nbsp;сцены из&nbsp;кино. Без&nbsp;команды,
            без&nbsp;студии&nbsp;—
            просто с&nbsp;идеей, стилем и&nbsp;опытом.</p>
          <p>Мой&nbsp;курс&nbsp;— не&nbsp;про&nbsp;правила.
            Он&nbsp;про&nbsp;то, как&nbsp;делать сильно, интересно
            и&nbsp;визуально.</p>
          <p>Я&nbsp;не&nbsp;просто учу&nbsp;— я&nbsp;показываю.</p>
          <p>И&nbsp;если&nbsp;ты&nbsp;хочешь так&nbsp;же&nbsp;— добро пожаловать.</p>
        </div>
      </div>

      <div class="hi__img video-wrapper">
        <video src="" poster="./img/hi.webp"></video>
      </div>
    </div>
  </div>
</section>
