<section class="how">
  <div class="container">
    <div class="how__container">
      <div class="how__img">
        <img src="./img/how.webp" aria-hidden="true" alt="">
      </div>
      <div class="how__content">
        <h2 class="how__title title3">
          <span>Как</span>
          проходит обучение
        </h2>
        <ul class="list-reset list how__list">
          <li><i><img src="./img/icons/camera.webp" alt=""></i> Видеоуроки в&nbsp;стиле мини-фильмов</li>
          <li><i><img src="./img/icons/calendar.webp" alt=""></i> Еженедельные эфиры с&nbsp;разбором и&nbsp;ответами
          </li>
          <li><i><img src="./img/icons/micro.webp" alt=""></i> Приглашённые гости</li>
          <li><i><img src="./img/icons/chat.webp" alt=""></i> Чат&nbsp;для&nbsp;общения и&nbsp;обратной связи</li>
        </ul>
      </div>
    </div>
  </div>
</section>
