<section class="program">
  <div class="container">
    <div class="program__container">
      <div class="program__content">
        <h2 class="title3 program__title">
          Программа курса
          <span><span class="accent">40+</span> уроков</span>
        </h2>
        <ul class="list-reset program__list list desc3">
          <li><i><img src="./img/icons/camera2.webp" alt=""></i> Как пользоваться камерой: экспозиция, фокус, кадр</li>
          <li><i><img src="./img/icons/triangle.webp" alt=""></i> Композиция и визуальный стиль</li>
          <li><i><img src="./img/icons/hand.webp" alt=""></i> Сценарий и структура коротких роликов</li>
          <li><i><img src="./img/icons/brain.webp" alt=""></i> Где брать идеи и темы</li>
          <li><i><img src="./img/icons/board.webp" alt=""></i> Съёмка и монтаж — мои авторские приёмы</li>
          <li><i><img src="./img/icons/chart.webp" alt=""></i> Продвижение и удержание внимания</li>
          <li><i><img src="./img/icons/people.webp" alt=""></i> Работа с&nbsp;актёрами, атмосферой и смыслом</li>
        </ul>
        <p class="program__under desc3">
          Каждый урок&nbsp;— это&nbsp;не&nbsp;просто «говорящая голова», а&nbsp;мини-фильм. Обучение не&nbsp;только
          полезное, но&nbsp;и&nbsp;вдохновляющее.
        </p>
      </div>

      <div class="program__video video-wrapper">
        <button class="btn-reset video-play">
          <svg class="video-btn__icon">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <video src="./cover.mp4" poster="./img/poster.webp"></video>
      </div>
    </div>
  </div>
</section>
