<section class="ready">
  <div class="ready__wrapper">
    <div class="container">
      <div class="ready__container">
        <div class="ready__content" data-animate="fade-in-up" data-delay="0">
          <h2 class="ready__title title3">
            Готов
            снимать сильно?
          </h2>

          <p class="ready__subtitle">
            Выбери свой формат и&nbsp;начни обучение уже&nbsp;сегодня
          </p>

          <button class="btn-reset btn modal-btn ready__btn" data-target="#modal-cta">Записаться на курс</button>
        </div>

        <div class="ready__elems">
          <img src="./img/ready/01.webp" aria-hidden="true" alt="" data-animate="ready-slide" data-delay="0">
          <img src="./img/ready/02.webp" aria-hidden="true" alt="" data-animate="ready-slide" data-delay="100">
          <img src="./img/ready/03.webp" aria-hidden="true" alt="" data-animate="ready-slide" data-delay="200">
        </div>
      </div>
    </div>
  </div>
</section>
