<section class="suit">
  <div class="container">
    <div class="suit__container">
      <div class="suit__content">
        <h2 class="title2 suit__title">
          Подходит и&nbsp;новичкам, и&nbsp;тем, кто&nbsp;уже снимает
        </h2>
        <div class="suit__desc desc2">
          <p>
            Если&nbsp;ты&nbsp;только начинаешь и&nbsp;не&nbsp;знаешь, с&nbsp;чего&nbsp;начать&nbsp;— этот&nbsp;курс
            для&nbsp;тебя.<br>
            Если&nbsp;ты&nbsp;уже&nbsp;снимаешь, но&nbsp;не&nbsp;видишь роста, нет&nbsp;стиля, и&nbsp;не&nbsp;понимаешь,
            куда двигаться&nbsp;— тоже&nbsp;сюда.
          </p>
          <p>
            Курс&nbsp;— это&nbsp;твой путь из&nbsp;«просто снимаю» в&nbsp;«делаю киношно, интересно и&nbsp;набираю
            просмотры».
          </p>
        </div>
      </div>

      <div class="suit__img">
        <img src="./img/suit.webp" alt="Подходит и новичкам, и тем, кто уже снимает">
      </div>
    </div>
  </div>
</section>
