<section class="testi">
  <div class="container">
    <h2 class="title3 testi__title">Отзывы</h2>
  </div>

  <div class="testi__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-fancybox="gallery" data-src="./img/testi/01.webp">
        <div class="testi__item">
          <img src="./img/testi/01.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./cover.mp4">
        <div class="testi__item testi__item--video">
          <img src="./img/testi/02.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./img/testi/01.webp">
        <div class="testi__item">
          <img src="./img/testi/01.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./cover.mp4">
        <div class="testi__item testi__item--video">
          <img src="./img/testi/03.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./img/testi/01.webp">
        <div class="testi__item">
          <img src="./img/testi/01.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./cover.mp4">
        <div class="testi__item testi__item--video">
          <img src="./img/testi/02.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./img/testi/01.webp">
        <div class="testi__item">
          <img src="./img/testi/01.webp" alt="">
        </div>
      </div>
      <div class="swiper-slide" data-fancybox="gallery" data-src="./cover.mp4">
        <div class="testi__item testi__item--video">
          <img src="./img/testi/03.webp" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
